<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>地球园1</string>
		<key>loveNumber</key>
		<string>30</string>
		<key>content</key>
		<string>完全同意你的观点</string>
		<key>comment</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>Eric</string>
				<key>value</key>
				<string>njklsalcljabcjbjkbcjsblablknslkanclknbobd,bjascbjksbckjsabclasnc.</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>dav</string>
				<key>value</key>
				<string>大学之前</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>anan</string>
				<key>value</key>
				<string>大二碰巧看到自媒体上视频博主的日常生活</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hhaa</string>
				<key>value</key>
				<string>一晃我就大四了</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hjjhohoi</string>
				<key>value</key>
				<string>表达自己对他们的崇拜之情，并清晰认识到自己到底崇拜他们什么，从而把这份崇拜转化为自己也要成为那样子的</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>地球是人类共同的家园2</string>
		<key>loveNumber</key>
		<string>30</string>
		<key>content</key>
		<string>完全同意你的观点</string>
		<key>comment</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>Eric</string>
				<key>value</key>
				<string>并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>dav</string>
				<key>value</key>
				<string>大学之前</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>anan</string>
				<key>value</key>
				<string>大二碰巧看到自媒体上视频博主的日常生活</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hhaa</string>
				<key>value</key>
				<string>一晃我就大四了</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hjjhohoi</string>
				<key>value</key>
				<string>表达自己对他们的崇拜之情，并清晰认识到自己到底崇拜他们什么，从而把这份崇拜转化为自己也要成为那样子的</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>shijieheping </string>
				<key>value</key>
				<string>另一人是我们学生会的部长，一个工程技术专业的学生，却能把设计玩得超级好，属于反差点很大的牛人。</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>2312313</string>
				<key>value</key>
				<string>之后，内心更是有一种自己在他那个年纪做的比他更好的期许。果真，到了大二，他们能做的我也会了，不能说比他们厉害，但是超越了自我就很满足。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>地球是人类共同的家园3</string>
		<key>loveNumber</key>
		<string>30</string>
		<key>content</key>
		<string>完全同意你的观点</string>
		<key>comment</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>Eric</string>
				<key>value</key>
				<string>并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>dav</string>
				<key>value</key>
				<string>大学之前</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>anan</string>
				<key>value</key>
				<string>大二碰巧看到自媒体上视频博主的日常生活</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hhaa</string>
				<key>value</key>
				<string>一晃我就大四了</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hjjhohoi</string>
				<key>value</key>
				<string>表达自己对他们的崇拜之情，并清晰认识到自己到底崇拜他们什么，从而把这份崇拜转化为自己也要成为那样子的</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>shijieheping </string>
				<key>value</key>
				<string>另一人是我们学生会的部长，一个工程技术专业的学生，却能把设计玩得超级好，属于反差点很大的牛人。</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>2312313</string>
				<key>value</key>
				<string>之后，内心更是有一种自己在他那个年纪做的比他更好的期许。果真，到了大二，他们能做的我也会了，不能说比他们厉害，但是超越了自我就很满足。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>地球是人类共同的家园4</string>
		<key>loveNumber</key>
		<string>30</string>
		<key>content</key>
		<string>完全同意你的观点</string>
		<key>comment</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>Eric</string>
				<key>value</key>
				<string>并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>dav</string>
				<key>value</key>
				<string>大学之前</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>anan</string>
				<key>value</key>
				<string>大二碰巧看到自媒体上视频博主的日常生活</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hhaa</string>
				<key>value</key>
				<string>一晃我就大四了</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hjjhohoi</string>
				<key>value</key>
				<string>表达自己对他们的崇拜之情，并清晰认识到自己到底崇拜他们什么，从而把这份崇拜转化为自己也要成为那样子的</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>shijieheping </string>
				<key>value</key>
				<string>另一人是我们学生会的部长，一个工程技术专业的学生，却能把设计玩得超级好，属于反差点很大的牛人。</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>2312313</string>
				<key>value</key>
				<string>之后，内心更是有一种自己在他那个年纪做的比他更好的期许。果真，到了大二，他们能做的我也会了，不能说比他们厉害，但是超越了自我就很满足。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>地球是人类共同的家园5</string>
		<key>loveNumber</key>
		<string>30</string>
		<key>content</key>
		<string>完全同意你的观点</string>
		<key>comment</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>shijieheping </string>
				<key>value</key>
				<string>另一人是我们学生会的部长，一个工程技术专业的学生，却能把设计玩得超级好，属于反差点很大的牛人。</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>shijieheping </string>
				<key>value</key>
				<string>另一人是我们学生会的部长，一个工程技术专业的学生，却能把设计玩得超级好，属于反差点很大的牛人。</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>shijieheping </string>
				<key>value</key>
				<string>另一人是我们学生会的部长，一个工程技术专业的学生，却能把设计玩得超级好，属于反差点很大的牛人。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>地球是人类共同的家园6</string>
		<key>loveNumber</key>
		<string>30</string>
		<key>content</key>
		<string>完全同意你的观点</string>
		<key>comment</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>Eric</string>
				<key>value</key>
				<string>并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>dav</string>
				<key>value</key>
				<string>大学之前</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>anan</string>
				<key>value</key>
				<string>大二碰巧看到自媒体上视频博主的日常生活</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hhaa</string>
				<key>value</key>
				<string>一晃我就大四了</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hjjhohoi</string>
				<key>value</key>
				<string>表达自己对他们的崇拜之情，并清晰认识到自己到底崇拜他们什么，从而把这份崇拜转化为自己也要成为那样子的</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>shijieheping </string>
				<key>value</key>
				<string>另一人是我们学生会的部长，一个工程技术专业的学生，却能把设计玩得超级好，属于反差点很大的牛人。</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>2312313</string>
				<key>value</key>
				<string>之后，内心更是有一种自己在他那个年纪做的比他更好的期许。果真，到了大二，他们能做的我也会了，不能说比他们厉害，但是超越了自我就很满足。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>地球是人类共同的家园7</string>
		<key>loveNumber</key>
		<string>30</string>
		<key>content</key>
		<string>完全同意你的观点</string>
		<key>comment</key>
		<array>
			<dict>
				<key>nickname</key>
				<string>Eric</string>
				<key>value</key>
				<string>并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么并清晰认识到自己到底崇拜他们什么</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>dav</string>
				<key>value</key>
				<string>大学之前</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>anan</string>
				<key>value</key>
				<string>大二碰巧看到自媒体上视频博主的日常生活</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hhaa</string>
				<key>value</key>
				<string>一晃我就大四了</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>hjjhohoi</string>
				<key>value</key>
				<string>表达自己对他们的崇拜之情，并清晰认识到自己到底崇拜他们什么，从而把这份崇拜转化为自己也要成为那样子的</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>shijieheping </string>
				<key>value</key>
				<string>另一人是我们学生会的部长，一个工程技术专业的学生，却能把设计玩得超级好，属于反差点很大的牛人。</string>
			</dict>
			<dict>
				<key>nickname</key>
				<string>2312313</string>
				<key>value</key>
				<string>之后，内心更是有一种自己在他那个年纪做的比他更好的期许。果真，到了大二，他们能做的我也会了，不能说比他们厉害，但是超越了自我就很满足。</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
